.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.deleteform {
    display: inline;
}

#map {
    height: 400px;
    width: 100%;
}

#searchbar {
    margin-top: 9px;
}

.addbtn {
    margin-top: 15px;
}